<!DOCTYPE html>
<html data-turbolinks='false'>
  <head>
    <title>BrunchWithRailsDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'client', media: 'all' %>
    <%= javascript_include_tag 'client' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
